@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}
:root{
    --primary: #1273EB;
    --secondary: #111111;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}
img{
    min-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 16px; 
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px; 
}
.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-primary{
    color: var(--primary);
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.btn{
    display: inline-block;
    min-width: max-content;
    padding: 8px 16px; 
    border-radius: 4px; 
    font-size: 12px; 
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}
.btn-primary{
    background-color: var(--primary);
    color: #fff;
    text-transform: capitalize;
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid var(--primary);
    color: inherit;
}
.btn-secondary{
    border: 1px solid var(--primary);
    text-transform: capitalize;
}
.btn-secondary:hover{
    background-color: var(--primary);
    color: #fff;
}
.btn{
    text-transform: capitalize;
}
.section-headings{
    font-size: 48px; 
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 32px; 
    font-family: 'Overpass', sans-serif;
}
.section-subheadings{
    font-size: 19px; 
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 16px; 
}
.section-heading.left{
    margin-right: auto;
}
.section-heading.right{
    margin-left: auto;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary);
    background: linear-gradient(rgba(255,255,255, .8), rgba(255,255,255, .9)), url(./assets/images/5640694.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section{
    position: relative;
    padding: 5rem 4% !important;
}


/* ==========  HEADER ============= */
header{
    padding: 16px 4%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.logo img{
    width: 120px;
}
.header-menu{
    gap: 16px; 
}
.header-menu li a{
    font-size: 16px; 
    text-transform: capitalize;
    font-weight: 500;
    transition: color .3s;
}
.header-menu li a:hover{
    color: var(--primary);
}
header .right{
    gap: 16px; 
}
.menu-btn{
    font-size: 19px;
    cursor: pointer;
    display: none;
}
.menu-btn:hover{
   color: var(--primary);
}


/* ==========  HERO SECTION ============= */
#hero{
    min-height: 100vh;
}
.hero-contents{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-contents h1{
    font-size: 56px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    line-height: 1.2;
    letter-spacing: 3px;
}
.hero-contents p{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 32px;
}
.hero-contents .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-transform: capitalize;
}
.hero-image{
    width: 50%;
}
.hero-image img{
    width: 100%;
}


/* ==========  ABOUT SECTION ============= */
#about h5{
    text-align: left;
}
.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
}
.feature{
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--primary);
}

.feature-icon{
    font-size: 32px; 
    margin-bottom: 16px; 
    color: var(--primary);
}

.feature h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform:capitalize;
}
.feature p{
    font-size: 14px;
}

.about-details{
    display: flex;
    gap: 32px;
    margin-top: 80px;
}
.about-details-contents{
    width: 50%;
}
.about-details-contents h1{
    font-size: 32px; 
    font-weight: 600;
    margin-bottom: 16px;
}
.about-details-contents p{
    font-size: 14px;
    font-weight: 400;
}
.about-details-contents .btn{
    margin-top: 16px;
}
.about-detail-image{
    width: 50%;
}
.about-detail-image img{
    width: 100%;
}



/* ==========  SERVICES SECTION ============= */

#services h5{
    font-size: 19px; 
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 16px; 
}
#services h2{
    font-size: 48px; 
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 32px; 
    font-family: 'Overpass', sans-serif;
}
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px; 
}
.service{
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.service-icon i{
    font-size: 80px; 
    margin-bottom: 24px; 
    color: var(--primary);
}
.service h3{
    font-size: 19px; 
    font-weight: 600;
    margin-bottom: 16px; 
    text-transform: capitalize;
}
.service p{
    font-size: 14px; 
    margin-bottom: 16px; 
    text-align: center;
}
.service .arrow-icons{
    font-size: 19px; 
    color: var(--primary);
    margin-left: auto;
    transition: transform .3s;
}
.service .arrow-icons:hover{
    transform: translateX(5px);
}



/* ==========  PROJECTS SECTION ============= */
.projects{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 80px; 
}
.project{
    display: flex;
    gap: 80px;
    align-items: center;
}
.project:nth-child(2){
    flex-direction: row-reverse;
}
.project-img{
    width: 600px;
   
}
.project-img img{
    width: 100%;
}

.project h3{
    font-size: 14px; 
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 16px; 
    color: var(--primary);
}
.project h4{
    font-size: 40px; 
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 16px;
}
.project p{
    font-size: 14px; 
    margin-bottom: 16px;
}


/* ========== TEAMS SECTION ============= */
.members{
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}
.member:nth-child(2),
.member:nth-child(4){
    margin-top: 80px;
}
.member-img{
    margin-bottom: 16px;
    width: 200px;
    height: 200px;
    
}
.member-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 16px solid var(--primary);
}
.member-contents h1{
    margin-bottom: 3px;
    text-transform: capitalize;
    text-align: center;
}
.member-contents p{
    opacity: .4;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* ========== CONTACTS SECTION ============= */
#contact .container{
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 32px;
    border-radius: 8px;
}
.contact{
    display: flex;
    align-items: center;
    gap: 80px; 
}
.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact-form input,
.contact-form textarea{
    padding: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    text-transform: capitalize;
    color: #4f4f4f;
}
.contact-form textarea{
    resize: none;
}
.contact-details{
    width: 50%;
}
.contact-details p{
    font-size: 12px; 
    color: #222;
    margin-bottom: 32px;
}
.contact-details .details{
    display: flex;
    flex-direction: column;
    gap: 32px; 
}
.details .detail{
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    padding: 8px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 32px; 
}
.detail-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    background-color: var(--primary);
}

.details-content{
    margin-top: 32px;
}
.detail h3{
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
}
.detail p{
    font-size: 14px;
    color: #747474;
}


/* ========== FOOTER SECTION ============= */
footer{
    padding: 32px 4% 64px !important;
}
.footer-contents{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64px; 
}
.footer-logo{
    width: 100px;
    margin-bottom: 16px;
}
.footer-logo img{
    width: 100%;
}
.footer-contents p{
    font-size: 14px;
    color: #747474;
    margin-bottom: 16px;
}
.newsletter{
    position: relative;
}
.newsletter input{
    width: 100%;
    padding: 16px; 
    border-radius: 8px;
    border: none;
    outline: none;
    border-color: #f3f9fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.newsletter .newsletter-icons{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
}
.footer-menu h3{ 
    font-size: 19px; 
    text-transform: capitalize;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 16px; 
    font-size: 12px;
    color: #747474;
    text-transform: capitalize;
}
.list li:hover{
    color: var(--primary);
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 12px; 
    color: #747474;
}
.footer-bottom p{
    text-transform: capitalize;
    margin-bottom: 16px; 
    border-bottom: 3px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.bottom-icons{
    display: flex;
    gap: 16px; 
    margin-bottom: 16px; 
    color: var(--secondary);
}
.bottom-icons i:hover{
    color: var(--primary);
}







/* ============== MEDIA QUERY ============ */
@media screen and (max-width: 768px){
.container{
    padding: 0 16px;
}
section{
    /* padding-top: 32px !important; */
    padding-bottom: 48px !important; 
} 
.section-headings{
     font-size: 32px;
}
    
/* ========== HEADER ========== */
.header-menu{
     position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 800px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: var(--primary);
    transform: translateX(-100%);
    transition: transform .3s;
}
.header-menu li{
    margin: 48px 0 0; 
    padding-left: 50px;
    color: #fff;
}
.header-menu li a:hover{
    color: var(--secondary);
}
.header-menu.show-menu{
    transform: translateX(0);
}
.menu-btn{
    display: block;
    z-index: 2000;
}


/* ========= HERO SECTION ============ */
#hero{
    flex-direction: column;
    justify-content: center;
}
.hero-contents{
    width: 100%;
    text-align: center;
    margin-top: 48px;
}
.hero-contents h1{
    font-size: 32px; 
}
.hero-contents p{
    font-size: 14px; 
    margin-top: 16px; 
}
.hero-contents .btn{
    margin: 0 auto;
}
.hero-image{
    width: 100%;
    margin-top: 16px;
}

/* ========== ABOUT ============= */
.features{
    grid-template-columns: repeat(1fr);
}
.feature{
    padding: 16px;
}
.about-details{
    flex-direction: column;
}
.about-details-contents,
.about-detail-image{
    width: 100%;
}

/* =========== SERVICES ================ */
#services h5{
    font-size: 16px; 
    text-align: center !important;
}
#services h2{
    font-size: 32px;
    text-align: center !important;
}

/* ========== PROJECTS ============= */
.project{
    flex-direction: column !important;
    gap: 32px;
}
.project-img{
    width: 100%;
    max-width: 300px;
}
.project h4{
    font-size: 24px; 
}

/* ========== TEAMS ============= */
.members{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.member:nth-child(2),
.member:nth-child(4){
    margin-top: 0;
}

/* ========== CONTACT ============= */
.contact{
    flex-direction: column;
}
.contact-form,
.contact-details{
    width: 100%;
}

.contact-details p{}


}